.clear {
  clear: both;
}
body {
  background: url('../images/black_denim.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}
#head {
}
#head ul {
  margin: 40px auto 20px;
  width: 310px;
}
#head ul li {
  display: inline;
  margin-right: 15px;
}
#head ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#head ul li a.active {
  color: #999;
}
#slides {
  margin-top: 150px;
}
#slides .slide {
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px;
  float: left;
  margin: 0 10px;
}
#slides .slide img {
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
#slides .slide .dribbble_info {
  float: left;
  width: 60%;
}
#slides .slide .dribbble_info p {
  margin-bottom: 3px;
}
#slides .slide .dribbble_info p.title {
  margin-bottom: 8px;
}
#slides .slide .dribbble_info p.title span {
  font-weight: bold;
  color: #333;
}
#slides .slide .dribbble_info p.stat {
  font-size: 10px;
}
#slides .slide .dribbble_info p span.views {
  padding-left: 18px;
  margin-right: 10px;
  background: url("../images/icon-views-sm.png") left center no-repeat;
}
#slides .slide .dribbble_info p span.comments {
  padding-left: 15px;
  margin-right: 10px;
  background: url("../images/icon-comments.png") 0px 2px no-repeat;
}
#slides .slide .dribbble_info p span.likes {
  padding-left: 15px;
  margin-right: 10px;
  background: url("../images/icon-hearts.gif") 0px 2px no-repeat;
}
#slides .slide .user_info {
  float: right;
  width: 40%;
  text-align: right;
}
#slides .slide .user_info img {
  float: right;
  width: 30px;
  height: 30px;
}
#slides .slide .user_info a {
  color: #4083A9;
  text-decoration: none;
  font-weight: bold;
  float: right;
  margin: 8px 0 0 4px;
  font-size: 14px;
}
#slides #past_slides, #slides #future_slides {
  height: 167px;
  margin-top: 100px;
  overflow: hidden;
  opacity: 0.5;
  float: left;
}
#slides #past_slides .slide {
  float: right;
}
#slides #past_slides .slide, #slides #future_slides .slide {
  padding: 2px;
}
#slides #past_slides .slide img.large, #slides #future_slides .slide img.large {
  display: none;
}
#slides #past_slides .slide .info, #slides #future_slides .slide .info {
  display: none;
}
#slides #current_slide {
  position: relative;
  float: left;
}
#slides #current_slide .slide {
  -webkit-box-shadow: 0px 2px 2px #666;
}
#slides #current_slide .slide img.small {
  display: none;
}
#slides #future_slides {
  margin-top: 100px;
  float: right;
}
#slides #loading {
  margin: 70px 0 0 50px;
  position: absolute;
  top: 80px;
  right: -80px;
}
#footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
}
#footer .inner {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#footer .inner a {
  color: #f5f5f5;
}